<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFinalProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F7ED7D01C0CAFC80052E585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7ED7E41C0CAFC90052E585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7ED7EF1C0CAFC90052E585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
